<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    
    <meta charset="utf-8">
    <title><%= html_title yield(:page_title) %></title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= csrf_meta_tag %>
    <link rel="shortcut icon" type="image/png" href="../images/coffee_mug.png" />
    <%= stylesheet_link_tag 'bootstrap.min.css' %>
    <%= stylesheet_link_tag 'bootstrap-responsive.min.css' %>
    <%= stylesheet_link_tag 'font-awesome.min.css' %>

    <%= javascript_include_tag 'application' %>

    <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
    <%= yield(:head) %>

  </head>
      

  <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">



    <div class="container">


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span6">
      <h1>Insomnia Consulting</h1>
      <p class="lead">Software Development and Information Technology Consulting.</p>
    </div>
    <div class="span6">
      <div class="well">
          <div id="bsap_1277971" class="bsarocks bsap_">
	    <%= image_tag('coffee_mug.png', :style => 'margin-left:70%') %>
	    </div>
      </div>
    </div>
  </div>

  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#">Home</a></li>
    </ul>
  </div>
</header>




<!-- Typography
================================================== -->
<section id="typography">
  <div class="page-header">

  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span6">
      <div class="well">
        <h1>Projects</h1>
        <h2>Java / Swing</h2>
        <p>Application Modernization</p>
        <h2>Ruby on Rails</h2>
        <p>New application development and maintenance</p>
        <h2>Performance and Load testing</h2>
      </div>
    </div>

    <div class="span4">
      <h3>About</h3>
      <p>Experience in web development and application development using many different technologies.</p>
      <p>Contact us to discuss your project and how we can help.</p>

    </div>

    <div class="span4">

      <address>
        <strong>Insomnia Consulting, LLC.</strong><br>
        1817 West Loucks Extension<br>
        Scottdale, PA  15683<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
      <address>
        <strong>Greg Akins</strong><br>
        <a href="mailto:info@insomnia-consulting.org">info@insomnia-consulting.org</a>
      </address>
    </div>

  </div>
  
  <div class="row">
    <div class="span6">
      <blockquote>
        <p>I knew Greg from his volunteer work with Pittsburgh's Java User Group. As luck would have it, he was available when we needed a consultant for a complex project that had been poorly documented. Greg came in and not only completed the original project is record time (.Net), but then was able to complete another project (Java).</p>
        <small>Gwen Pechan, <cite title="Source Title">University of Pittsburgh</cite></small>
      </blockquote>
    </div>
    <div class="span6">
      <blockquote class="pull-right">
        <p>Greg is a very detail oriented and a totally committed thorough professional. He is a very good mentor. His light hearted approach ensures a friendly environment. Greg is hardworking, sincere and would make him an invaluable asset to any company!</p>
        <small>Anupama Pai, <cite title="Source Title">Towercare Technologies</cite></small>
      </blockquote>
    </div>
  </div>

</section>


<!-- Navbar
================================================== -->
     <!-- Footer
      ================================================== -->
      <hr>

      <footer id="footer">
        <p class="pull-right"><a href="#top">Back to top</a></p>
        <div class="links">
          <a href="archives">Posts</a>
        </div>
        Made by <a href="http://insomnia-consulting.org">Insomnia Consulting, LLC.</a>. Contact him <a href="mailto:info@insomnia-consulting.org">info@insomnia-consulting.org</a>.<br/>
        Based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>. </p>
      </footer>

    </div><!-- /container -->


  </body>
</html>


